main{
    padding: 0rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-section{
    margin-top: 0rem;
}
.case-content{
    margin-bottom: 1rem;
    max-width: 600px;
}
.case-content__title{
    margin-bottom: .0rem;
}
.case-content__text{
    margin-top: .5rem;
}

footer{
    margin-top: 0rem;
}