/* VARIABLES */
:root{
    --total-rows: 100;
    --total-columns:5;
    --right-start:2;
    --right-end:6;
    --left-start:1;
    --left-end:5;

    --color-brown: #7e5539;
    --color-light-brown: #ddb892;
    --color-beige: #f2eae1;
    --color-black: #2a1e12;
    --color-navy: #31313A;

    --h1-size: 2rem;
    --h2-size: 1.25rem;
    --h3-size: 1.75rem;
    --h4-size: 1rem;
    --p-size: 1rem;
    --menu-size: 1rem;
}

/* FONTS */
@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif.woff2') format('woff2'),
        url('fonts/NotoSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Regular.woff2') format('woff2'),
        url('WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('fonts/WorkSans-Medium.woff2') format('woff2'),
        url('fonts/WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('fonts/WorkSans-SemiBold.woff2') format('woff2'),
        url('fonts/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Work Sans';
    src: url('fonts/WorkSans-Bold.woff2') format('woff2'),
        url('fonts/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('fonts/WorkSans-BoldItalic.woff2') format('woff2'),
        url('fonts/WorkSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/*KEYFRAMES*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*ANIMATIONS*/
.fadeIn {
    animation: fadeIn 1s ease-in forwards;
}

/* STYLES */
html{
    box-sizing: border-box;
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Work Sans', sans-serif;
    font-style: bold;
}

h1{
    font-size: var(--h1-size);
    margin: 0;
}
h2{
    font-size: var(--h2-size);
    margin: .25rem 0 0 0;
    font-style: normal;
    font-weight: 300;
}

h3{
    font-style: normal;
    font-weight: 600;
    font-size: var(--h3-size);
}
h4{
    font-style: normal;
    font-weight: 500;
    font-size: var(--h4-size);
    line-height: 1.5rem;
}


p{
    font-family: 'Noto Serif', serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

body{
    background-color: #f2eae1;
}

header{
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
}
main{
    margin: 0rem 1.25rem;
}
a{
    text-decoration:none;
}

/*header styles*/

.title{
    color: #2a1e12;
    justify-self: flex-start;
    align-self: center;
}

.menu{
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    font-size: var(--menu-size);
    color: #2a1e12;
    justify-self: flex-end;
    align-self: center;
}

.menu__link{
    margin: .25rem;
    color: var(--color-black);
}

/*intro styles*/
.intro{
    display: flex;
    min-height: 85vh;
    flex-direction: column;
    justify-content: space-between;
}
.intro__text--opening{
    margin: 0 0 2.625rem 0;
    animation: fadeIn .5s ease-in .15s forwards;
    opacity: 0;
}
.intro__text--paragraph{
    margin: 0 0 1rem 0;
    animation: fadeIn .5s ease-in .25s forwards;
    opacity: 0;
}
.intro__spacer{
    min-height: 5vh;
}
.intro__peak{
    align-self: center;
    animation: fadeIn .5s ease-in .55s forwards;
    margin-bottom: 3rem;
    opacity: 0;
}

/* project styles*/
.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.projects--visible {
    opacity: 1;
}

.projects__project{
    margin-bottom: 1.5rem;
}

.projects__project--hidden{
    opacity: 0;
}

.projects__project__image{
    background-color: var(--color-light-brown);
    min-height: 240px;
    box-shadow: 0px 5px 15px gray;
    border-radius: 50px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.projects__project__image:active{
    box-shadow: none;
}

.projects__project__image--img{
    max-width: 100%;
    object-fit:contain;
}
.projects__project__text--title{
    font-size: 1.25rem;
}
footer{
    background-color: var(--color-brown);
    margin: 1rem 0 0 0;
    padding: 2rem;
}
.footer__text{
    font-size: var(--p-size);
    text-align:center;
    text-decoration: none;
    color: var(--color-beige);
}

/* MEDIA QUERY */
@media (min-width: 600px){
   *{
    --h1-size: 2.5rem;
    --h2-size: 1.625rem;
    --p-size: 1rem;
    --menu-size: 1.5rem;
    --total-columns:1;
    --left-end: 1;
    --right-start:1;
    --right-end:1;
   }
   .hero__title{
    padding: 6.25rem 4.0625rem 0rem 4.0625rem;
   }
   .hero__body{
    padding: 1.25rem 4.0625rem;
   }
   .menu__link{
    margin: 1.25rem;
   }
   .intro__text{
       align-self: center;
   }
   .projects{
       display: grid;
       grid-column: 2;
       grid-row: 2;
       column-gap: 2rem;
   }
   .projects__project__image{
        min-height: 40vh;
   }
   .project1{
       grid-column: 1/2;
       grid-row: 1/2;
   }
   .project2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .project3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .project4{
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

@media (min-width: 1000px){
    *{
     --h3-size: 2rem;
     --h4-size: 1.5rem;
     --total-columns: 2;
     --left-start:1;
     --left-end:2;
     --right-start:2;
     --right-end:3;
    }

    header{
        background-color: var(--color-brown);
    }
    .title{
        color: var(--color-beige);
    }
    .menu__link{
        color:var(--color-beige);
    }

    .menu :hover{
        color: var(--color-black);
        cursor: default;
    }
    .intro{
        min-height: 80vh;
    }
    main{
        margin: 1.875rem;
    }

    .projects__project__image{
        min-height: 80vh;
    }
    
 }