/* VARIABLES */
:root{
    --color-beige: #f2eae1;
    --color-black: #2a1e12;
    --color-brown: #7e5539;
    --color-light-brown: #ddb892;
    --color-navy: #31313A;
    
    --h1-size: 2rem;
    --h2-size: 1.25rem;
    --h3-size: 1.75rem;
    --h4-size: 1rem;
    --p-size: 1rem;
    --menu-size: 1rem;

    --total-rows: 100;
    --total-columns:5;
    --right-start:2;
    --right-end:6;
    --left-start:1;
    --left-end:5;
}

/* FONTS */
@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif.woff2') format('woff2'),
        url('fonts/NotoSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('fonts/WorkSans-Regular.woff2') format('woff2'),
        url('fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('fonts/WorkSans-Medium.woff2') format('woff2'),
        url('fonts/WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('fonts/WorkSans-SemiBold.woff2') format('woff2'),
        url('fonts/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Work Sans';
    src: url('fonts/WorkSans-Bold.woff2') format('woff2'),
        url('fonts/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('fonts/WorkSans-BoldItalic.woff2') format('woff2'),
        url('fonts/WorkSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/*KEYFRAMES*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp{
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

/*ANIMATIONS*/
.fadeIn {
    animation: fadeIn 1s ease-in forwards;
}

/* STYLES */
html{
    box-sizing: border-box;
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Work Sans', sans-serif;
    font-style: bold;
}

h1{
    font-size: var(--h1-size);
    margin: 0;
}
h2{
    font-size: var(--h2-size);
    font-style: normal;
    font-weight: 300;
}

h3{
    font-style: normal;
    font-size: var(--h3-size);
    font-weight: 600;
}
h4{
    line-height: 1.5rem;
    font-size: var(--h4-size);
    font-style: normal;
    font-weight: 500;
}


p,
li{
    line-height: 1.5rem;
    font-family: 'Noto Serif', serif;
    font-size: 1rem;
}

body{
    background-color: var(--color-beige);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}
main{
    margin: 0rem 1.25rem;
    min-height: 90vh;
}
a{
    text-decoration:none;
}
br{
    margin: .5rem 0;
}

/*header styles*/
.title{
    align-self: center;
    color: var(--color-black);
    justify-self: flex-start;
}

.title__title{
    color: var(--color-black);
}
.title__title--link{
    color: var(--color-black);
    text-decoration: none;
}

.menu{
    align-self: center;
    color: var(--color-black);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--menu-size);
    font-style: italic;
    justify-self: flex-end;
}

.menu__link{
    color: var(--color-black);
    margin: .25rem;
}

/*intro styles*/
.intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;
}
.intro__bunch{
    display: flex;
    flex-direction: column;
}
.intro__image{
    align-self: center;
    animation: fadeIn .5s ease-in .20s forwards;
    opacity: 0;
}
.intro__image__img{
    max-height: 40vh;
}
.intro__text--opening{
    animation: fadeIn .5s ease-in .15s forwards;
    margin: 0 0 2.625rem 0;
    opacity: 0;
}
.intro__text--paragraph{
    animation: fadeIn .5s ease-in .25s forwards;
    margin: 0 0 1rem 0;
    opacity: 0;
}
.intro__spacer{
    min-height: 5vh;
}
.intro__peak{
    align-self: center;
    animation: fadeIn .5s ease-in .55s forwards;
    margin-bottom: 3rem;
    opacity: 0;
}

/* project styles*/
.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.projects--visible {
    opacity: 1;
}

.projects__project{
    opacity: 0;
    margin-bottom: 1.5rem;
}

.projects__project--hidden{
    opacity: 0;
}

.projects__project__button{
    align-items: center;
    background-color: var(--color-light-brown);
	border: none;
    border-radius: 50px;
    box-shadow: 0px 5px 15px #6d4d2c;
	color: inherit;
	cursor: pointer;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 240px;
    max-height: 80vh;
    /* background: none; */
    width:100%;
}

.projects__project__button:active{
    box-shadow: none;
}
.projects__project__image{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-bottom: 0rem;
}

.projects__project__image:active{
    box-shadow: none;
}

.projects__project__image--img{
    max-width: 100%;
    object-fit:contain;
}
.projects__project__text--title{
    font-size: 1.25rem;
}

/* case study styles*/
.project-wrapper{
    align-items: center;
    animation: fadeIn .5s ease-in-out 0s forwards;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding: 0rem 1.25rem;
    opacity: 0;
}
.project-title{
    margin: 0;
    text-align: center;
}
.project-title__title{
    font-size: 1.75rem;
    margin: 0;
}
.project-title__subtitle{
    font-size: 1.25rem;
    font-style: italic;
    margin: .5rem 0 0 0;
}
.project-title__link{
    font-size: 1rem;
}

.project-section{
    margin: 1rem 0;
    max-width: 750px;
}

.project-section__title{
    font-size: 1.35rem;
    margin: 0rem 0rem .5rem 0rem;
}

.project-section__text{
    line-height: 1.8rem;
    margin: 0rem .5rem 1.2rem .5rem;
}

.project__section__list{
    margin-top: .5rem;
}

.project-section__image{
    display: flex;
    justify-content: center;
}
.project-section__gallery{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/*gallery styles*/
.gallery{
    display: grid;
    column-gap: .5rem;
    height: 100%;
    row-gap: .5rem;
    width: 100%;
}
.gallery__image{
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    width: 100%;
}


footer{
    background-color: var(--color-brown);
    margin: 1rem 0 0 0;
    padding: 2rem;
}
.footer__text{
    color: var(--color-beige);
    font-size: var(--p-size);
    text-align:center;
    text-decoration: none;
}

/* MEDIA QUERY */
@media (min-width: 620px){
   *{
        --h1-size: 2.5rem;
        --h2-size: 1.625rem;
        --left-end: 1;
        --menu-size: 1.5rem;
        --p-size: 1rem;
        --right-start:1;
        --right-end:1;
        --total-columns:1;
   }
   .hero__title{
        padding: 6.25rem 4.0625rem 0rem 4.0625rem;
   }
   .hero__body{
        padding: 1.25rem 4.0625rem;
   }
   .menu__link{
        margin: 1.25rem;
   }
   .intro__bunch{
        flex-direction: row;
        justify-content: space-between;
    }
    .intro__image{
        margin-left: 1rem;
    }
    .intro__image__img{
        max-height: 50vh;
    }
   .intro__text{
       align-self: center;
   }
   .projects{
       column-gap: 2rem;
       display: grid;
       grid-column: 2;
       grid-row: 2;
   }
   .projects__project__button{
       height:100%
   }
   .projects__project__image{
        min-height: 40vh;
   }
   .project1{
       grid-column: 1/2;
       grid-row: 1/2;
   }
   .project2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .project3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .project4{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 1000px){
    *{
     --h3-size: 2rem;
     --h4-size: 1.5rem;
     --left-start:1;
     --left-end:2;
     --right-start:2;
     --right-end:3;
     --total-columns: 2;
    }

    .menu :hover{
        color: var(--color-brown);
        cursor: default;
    }
    .intro{
        min-height: 80vh;
    }
    main{
        margin: 1.875rem;
    }

    .projects__project__image--img{
        max-height: 60vh;
    }
    .gallery{
        grid-template-columns: repeat(3,1fr);
    }
    
 }